.dub
docs.json
__dummy.html
docs/
/hauntologl
hauntologl.so
hauntologl.dylib
hauntologl.dll
hauntologl.a
hauntologl.lib
hauntologl-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
libhauntologl.a
dub.selections.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
